---
layout: page
title: Oi!
group: navigation
---

<h1>Manda Oies!</h1>

<p>Aqui você acha todas as formas de falar com a gente! E fica a vontade pra mandar Oies!</p>
<br>
<ul class="contato">
  {% if site.author.twitter %}
    <li>
      <a href="http://twitter.com/{{ site.author.twitter }}">
        <i class="fa fa-twitter fa-2x"></i> Twitter
      </a>
    </li>
  {% endif %}
  {% if site.author.facebook %}
    <li>
      <a href="http://fb.com/{{ site.author.facebook }}">
        <i class="fa fa-facebook-square fa-2x"></i> Facebook
      </a>
    </li>
  {% endif %}
  {% if site.author.youtube %}
  <li>
    <a href="http://youtu.be/{{ site.author.youtube }}">
      <i class="fa fa-youtube-play fa-2x"></i> YouTube
    </a>
  </li>
  {% endif %}
  {% if site.author.email %}
  <li>
    <a href="mailto:{{ site.author.email }}">
      <i class="fa fa-envelope fa-2x"></i> Manda e-mail
    </a>
  </li>
  {% endif %}
</ul>
<div class="clearfix"></div>
