<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="utf-8">
  <meta property="og:image" content="{{ site.image-url }}" />
  <title>{{ page.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">

  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
  <link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.BASE_PATH }}/assets/ico/favicon.ico">

  <!-- Le fav and touch icons -->
  <!-- Update these with your own images
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
</head>

<body>
  <nav class="navbar navbar-default visible-xs" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.BASE_PATH }}/">
        <img src="//www.gravatar.com/avatar/{{site.author.email_md5}}?s=35" class="img-circle" />
        {{ site.title }}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ site.BASE_PATH }}/"><i class="fa fa-home"></i> Episódios</a></li>
        <li><a href="{{ site.BASE_PATH}}/{{ site.assine_path }}"><i class="fa fa-rss"></i> Assine</a></li>
        <li><a href="{{ site.BASE_PATH}}/{{ site.pizzaiolos_path }}"><i class="fa fa-user"></i> Pizzaiolos</a></li>
        <li><a href="{{ site.BASE_PATH}}/{{ site.sobre_path }}"><i class="fa fa-book"></i> Sobre</a></li>
      {% if site.author.twitter %}
      <li>
        <a href="http://twitter.com/{{ site.author.twitter }}">
          <i class="fa fa-twitter"></i> Twitter
        </a>
      </li>
      {% endif %}
      {% if site.author.email %}
      <li>
        <a href="mailto:{{ site.author.email }}">
          <i class="fa fa-envelope"></i> Entre em contato
        </a>
      </li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>


  <div class="col-sm-3 sidebar hidden-xs" style="{% if site.sidebar_background_image %}background: url({{site.sidebar_background_image}}) no-repeat !important;{% endif %}">
    {% include sidebar.html %}
  </div>
  </div>

  <div class="col-sm-9 col-sm-offset-3">
    {{ content }}

    <footer>
      <hr/>
      <p>
        &copy; {{ site.time | date: '%Y' }} {{ site.title }} com <a href="http://jekyllrb.com/">Jekyll</a>. Código fonte: <a href="https://github.com/jtemporal/pizzadedados">Pizza no GitHub</a> por Jessica Temporal, Letícia Portella e Gustavo Coelho.
      </p>
            {% include color-bar.html %}
    </footer>
  </div>

  <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
</body>
</html>
